@media (max-width: 767px) {
*,
    *::before,
    *::after {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

header img {
    width: 150px;
    margin-left: 1rem;
}

  ul.menu-links {
      display: none;
  }

nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
}

 #menuToggle {
     font-size: 2rem;
     background: none;
     border: none;
     color: black;
     cursor: pointer;
     width: 100%;
     text-align: right;
     padding: .25rem 2vw;
 }

 ul.menu-links.active {
     display: block;
 }

#hero .hero-content {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 1em;
    text-align: center;
    margin: 2em;
}

main {
    padding: 1em;
}

#site-purpose,
#featured-image,
#events-issues {
    margin-bottom: 2em;
}

#site-purpose h2,
#events-issues .events h2,
#events-issues .issues h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 0.5em;
}

#site-purpose p {
    margin: 0.5em 0;
}

#featured-image img,
.event img,
.issue img {
    width: 100%;
    height: auto;
    margin-bottom: 1em;
}

footer, footer img{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

 header {
     position: relative;
 }

}